.breadcrumb-nav {
  margin: 5px;

  .breadcrumb {
    background: none;
    font-size: 0.8em;
    margin: 0;

    .breadcrumb-link {
      float: left;
      margin: 5px;
      padding: 5px 2px;
      font-size: 18px;
    }

    .previous {
      padding: 5px 5px;
      background-color: white;
      box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    }

    .previous:hover {
      cursor: pointer;
      box-shadow: 0 0 15px 1px #15d6ba;
    }
  }
}
